html, 
body {
    height: 100%;
}
.main{
    min-height: 100%;
    overflow: auto;
    padding-bottom: 60px;
    background-color: #E6E7F2
}

.maincolor {
    background-color: #3D4252;
}

.link-color {
    color:darkblue;
}
.container-fluid-mod {
    margin-top: 50px;
    max-width: 850px;
}

.container-fluid-mod2 {
    margin-top: 50px;
    max-width: 905px;
}

.headers{
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

.banner{
    height: 160px;
    background-image: url("images/blmountain2.jpg");
    background-color: #FFFFFF;
    margin-bottom: 40px;
   
}

.footer-style{
    bottom: 0; 
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear: both;
}

.quote{
    font-size: 100%;
}
